@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web","Poppins", sans-serif;
}

/* ----- NAVBAR ----- */
:root {
  --mainColor: #29335c;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn{
  padding: 5px;
  cursor: pointer;
  background-color: transparent; 
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

@media only screen and (max-width: 1024px){
  header .nav-btn {
    visibility: visible;
    opacity:1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh)
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }
}

/* ------------ MENU ---------------------- */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4 {
  letter-spacing:  0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
.menu {
  padding: 5rem 0;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: #c59d5f;
  margin-left: auto;
  margin-right: auto;
}

.btn-container {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.filter-btn {
  background: transparent;
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color:  hsl(360, 71%, 66%);
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 0.25rem;
}

.active {
  border-bottom: 2px solid;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  border: 0.25rem solid hsl(360, 71%, 66%);
  border-radius: 0.25rem;
  display: block;
}

.logo {
  object-fit: cover;
  height: auto;
  width: 200px;
  border-radius: 0.25rem;  
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px dotted hsl(210, 22%, 49%);
}
.item-info h4 {
  margin-bottom: 0.5rem;
}
.price {
  color: #c59d5f;
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}



@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}
@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}
.image-container {
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: fill; /* Ensures the image covers the container */
}


/* ---------------- SHOP ------------------------- */

/* ----- DONATE FORM ----- */
.donate-form {
  flex: 45%; /* Take up 45% of the page */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Align at the bottom */
  padding: 20px;
  width: 95%; /* Make the form wider by 30% */
}


/* Form styling (use your existing form styles) */
.donate-form form {
  display: block;
  background-color: #fff;
  box-shadow: 1px 1px 3px 2px #ddd;
  max-width: 400px;
  max-height: 700px;
  margin: 10px auto;
  padding: 20px;
}

.donate-form input,
.donate-form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.2s ease-in-out;
  font-family: inherit;
}

.donate-form input::placeholder,
.donate-form textarea::placeholder {
  color: #aaa;
}

.donate-form input:focus,
.donate-form textarea:focus {
  outline: none;
  border-color: #422800;
}

.donate-form span {
  color: var(--mainColor);
}

/* Form button styles */
.donate-form button {
  margin-top: 0px; /* Add margin at the top */
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 2px 2px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  padding: 0 18px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s ease-in-out;
}

.donate-form button:hover,
.donate-form button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/* ----- BOOK PAGE ----- */
.page-container {
  display: flex;
  width: 100%; /* Make sure the container takes full width */
}
/* ----- SIDEBAR ----- */

/*  ----- BOOK LIST ----- */
.cards {
  list-style: none;
  flex: 55%; /* Take up 55% of the page */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; 
  margin: 0;
  padding: 0;
  gap: 20px; 
  height: 180vh;
  overflow-y: scroll;
}
/* ----- CARDS ----- */

/* Style for each individual card */
.card {
  width: calc(100% - 20px); /* Take up full width with spacing */
  margin: 20px 0; /* Adjust the vertical spacing */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  transition: box-shadow 0.2s ease-in-out;
}
/* Additional styling for card elements */
.card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card h3 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.card p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.card-list{
  display: flex;
  flex-wrap: wrap;
  overflow-x: scroll;
}

/* Media query for responsive layout adjustments */
@media (max-width: 768px) {
  .cards {
    justify-content: center; /* Center the cards horizontally on smaller screens */
  }
  
  .card {
    width: calc(50% - 20px); /* Two cards in a row with spacing */
    margin: 20px 0;
  }
}

.card button {
  margin-top: 0.5rem;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s ease-in-out;
}

.card button:hover,
.card button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

/*  ----- SELECT CATEGORY ----- */
/* Button container on the upper right-hand side */
.button-container {
  display: flex;
  flex-direction: column;
  flex: 5; /* Take up 40% of the page */
  gap: 10px;
  position: sticky;
  top: 100px; /* Adjust top position to be 20px below the header */
  left: 20px; /* Align to the right-hand side */
  padding: 20px;
  background-color: var(--Color);
  width: 200px; /* Adjust the width as needed */
  z-index: 999; /* Make sure the button container is above other elements */
}

.button-container button {
  padding: 10px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.button-container button:hover {
  background-color: #f0e1c2;
}

.button-container button.active {
  background-color: #ccc;
}

